*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

header{
    position:fixed;
    width: 100%;
}

.navbar{
    height: 75px;
    background-color: white;
    color: #289c8e;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

/* to make hovering */

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid #b5e48c ;
}

/* nav-logo */

.nav-logo{
    height: 50px;
    width: 200px;
    margin-left: 30px;
}

.logo{
    background-image: url("images/MediWay-logo.png");
    background-size: cover ;
    width: 100%;
    /* height: 50px; */
    height: 100%;
}


/* nav-options */

.nav-options{
    display: flex;
    align-content: center;
    justify-content: center;
}

/* guides */

.guides{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    text-decoration: none;
    margin-right: 20px;
    color: #289c8e;
    font-size: 1rem;
    
}

/* book appointment */

.book-app{
    height: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.book-app-button{
    border: none;
    background-color: #d5f2f8;
    color: #289c8e;
    height: 40px;
    font-size: 1rem;
    text-decoration: none;
    padding-left: 8px ;
    padding-right: 8px ;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* profile */

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    margin-right: 40px;
}



/** panel **/

.panel{
    height: 50px;
    background-color: #b5e48c;  
    /* b5e48c  a7c957  80ed99  57cc99  7ddf64  94e8b4  7bf1a8  aaf683  c1ff9b*/
    display: flex;
    color: white;
    align-items: center;
    
}

/* emergency button */

.emergency{
    
    margin-left: 70%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emergency-button{
    background-color: #fbc3bc;
    color: black;
    font-size: 1rem;
    height: 30px;
    text-decoration: none;
    border: none;
    padding-left: 8px ;
    padding-right: 8px ;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* request callback button */

.request-callback{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-callback-button{
    background-color: white;
    color: #289c8e;
    height: 30px;
    text-decoration: none;
    border: none;
    font-size: 0.8rem;
    padding-left: 8px ;
    padding-right: 8px ;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sign-lang button */

.sign-lang{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-lang-button{
    background-color: white;
    color: #289c8e;
    height: 30px;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding-left: 8px ;
    padding-right: 8px ;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image section */

.hero-section{
    background-image: url("");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}