*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    font-family: 'Poppins', sans-serif;
}

/* bg img  */

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url(bg.avif);
    background-position: center;
    background-size: cover;
    position: relative;
} 

.form-box{
    width: 90%;
    height: 540px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

/* to put line below the sign up 
 */
.form-box h1::after{
    content:'';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
}

/* input boxes  */
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 430px;
}

/* input, select {
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;

}
input[type="submit"]:hover {
    background-color: #0056b3;
}

#speciality{
    border: none;
    height: 50px;
    width: 100%;
    outline: 0;
    padding-left: 17px;
}

#date{
    border: none;
    width: 93%;
    outline: 0;
}

#slots{
    border: none;
    height: 50px;
    width: 100%;
    outline: 0;
    padding-left: 17px;
}