*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* sorting and searching */

.searchSign{
    display: inline-block;
    height: 100%;
    height: 350px;
    width: 100%;
    margin-top: 130px;
    /* justify-content:flex-start;
    align-items: flex-start; */
}

.search-opt{
    display: flex;
    /* align-items: center;
    justify-content: space-evenly;  */
}

.searchbar{
    margin-left: 500px;
}


input{
    height: 50px;
    width: 450px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid #b5e48c;
    padding-left: 20px;
}


.sign-item {
    display: inline-block;
    align-items: center;
    margin-top: 50px;
    margin-left: 55px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 17px;
    background: #b5e48c;
    padding: 8px;
    width: 200px;
    height: 250px;
}

.sign-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 17px;
}


